* {
  font-family: 'Playfair Display', serif;
}

body {
  background-color: rgb(40, 0, 0);
  color: white;
  margin: 10% 30% 10% 30%;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
}

p {
  display: flex;
  justify-content: center;
}

input {
  display: flex;
  justify-content: center;
}

a {
  font-size: small;
  text-decoration: none;
  color: black;
  background-color: tan;
  padding: 4px 8px 5px 10px;
  border-radius: 60% 40% / 30% 70%;
  border-color: rgba(100, 0, 0, 0.5)
  border-size: 1px;
}

form {
  display: flex;
  flex-direction: column;
}
